<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/patients">
                <i class="material-icons">
                    people
                </i>
                Pacientes
            </a>
            <a mat-list-item routerLink="/procedures">
                <i class="material-icons">
                    medical_services
                </i>
                Procedimentos
            </a>
            <a mat-list-item routerLink="/exams">
                <i class="material-icons">
                    assignment
                </i>
                Exames
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
